/* General Styles */
body {
    background-image: url('2997710.jpg');
    background-size: cover;
}

/* About Me Section */
.about-me {
    border: 2pt solid black;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.profile-info {
    font-family: 'Times New Roman', serif;
    font-size: 13pt;
    font-weight: bold;
    text-align: left;
    
}

.profile-picture {
    width: 172px;
    height: 172px;
    align-self: flex-end; /* Align the image to the end of the flex container */
}

.description {
    font-family: sans-serif;
    color: blue;
    text-align: center;
    margin-top: auto; /* Push the description to the bottom */
}


/* Education Section */
.education {
    background-color: lightblue;
    border: 2pt solid black;
    padding: 10px;
}

.education table {
    width: 100%;
    border-spacing: 10px;
}

.education th {
    text-align: left;
    text-decoration: underline;
}

.education td {
    text-align: center;
}

/* Courses Section */
.courses {
    display: flex;
    justify-content: space-between;
}

.spring-semester, .autumn-semester {
    width: 45%;
    border: 3pt solid;
    padding: 10px;
}

.spring-semester {
    background-color: lightgreen;
}

.autumn-semester {
    background-color: lightpink;
}

.courses a {
    color: blue;
}

.courses a:visited {
    color: gray;
}

.courses a:hover {
    color: green;
}

.courses a:active {
    color: pink;
}

/* Hobbies Section */
.hobbies {
    background-color: lavender;
    padding: 20px;
}
